@import "tailwindcss";

:root {
  --primary: #ffa500;
  --dark: #17202a;
  --text: #4b5563;
  --light: #fffaf2;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ffffff;
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: #ffa500;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ffa500;
  border-radius: 20px;
}